In [1]:
import pandas as pd
import numpy as np


market_df = pd.read_csv("market_fact.csv")
customer_df = pd.read_csv("cust_dimen.csv")
product_df = pd.read_csv("prod_dimen.csv")
shipping_df = pd.read_csv("shipping_dimen.csv")
orders_df = pd.read_csv("orders_dimen.csv")

In [2]:
#merging dataframes one by one
df_1=pd.merge(market_df,customer_df,how='inner',on='Cust_id')
df_2=pd.merge(df_1,product_df,how='inner',on='Prod_id')
df_3=pd.merge(df_2,shipping_df,how='inner',on='Ship_id')
master_df=pd.merge(df_3,orders_df,how='inner',on='Ord_id')
master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW

In [3]:
df_by_segment = master_df.groupby('Customer_Segment')
df_by_segment
df_by_segment.head(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW
5,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,...,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009,36992,07-12-2009,MEDIUM
6,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,...,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009,13920,09-10-2009,CRITICAL
7,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.32,0.10,25,338.01,5.08,0.38,...,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,PAPER,13920,EXPRESS AIR,11-10-2009,13920,09-10-2009,CRITICAL
8,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",55554,REGULAR AIR,17-11-2009,55554,16-11-2009,CRITICAL
9,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.09,0.04,6,-15.20,9.54,0.37,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,PAPER,55554,REGULAR AIR,17-11-2009,55554,16-11-2009,CRITICAL
10,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.06,0.02,49,30.97,0.70,0.56,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,PENS & ART SUPPLIES,55554,REGULAR AIR,19-11-2009,55554,16-11-2009,CRITICAL
11,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,...,ATLANTIC,SMALL BUSINESS,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",48455,REGULAR AIR,03-06-2009,48455,02-06-2009,CRITICAL
12,Ord_1854,Prod_6,SHP_2548,Cust_622,817.53,0.03,34,76.63,11.54,0.39,...,ATLANTIC,SMALL BUSINESS,OFFICE SUPPLIES,PAPER,48455,REGULAR AIR,03-06-2009,48455,02-06-2009,CRITICAL
14,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,...,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,REGULAR AIR,15-01-2010,19524,14-01-2010,CRITICAL
23,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,...,QUEBEC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36355,REGULAR AIR,03-12-2009,36355,02-12-2009,MEDIUM
24,Ord_2471,Prod_13,SHP_3386,Cust_965,125.95,0.00,10,15.73,2.36,0.55,...,QUEBEC,HOME OFFICE,OFFICE SUPPLIES,PENS & ART SUPPLIES,36355,REGULAR AIR,03-12-2009,36355,02-12-2009,MEDIUM
61,Ord_4640,Prod_16,SHP_6462,Cust_1597,55.44,0.09,16,-21.91,1.32,0.83,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36647,REGULAR AIR,01-07-2009,36647,30-06-2009,HIGH
62,Ord_4640,Prod_7,SHP_6462,Cust_1597,179.98,0.01,21,38.70,2.82,0.40,...,WEST,CONSUMER,OFFICE SUPPLIES,RUBBER BANDS,36647,REGULAR AIR,01-07-2009,36647,30-06-2009,HIGH
63,Ord_4640,Prod_1,SHP_6463,Cust_1597,174.62,0.10,18,-119.77,9.45,0.60,...,WEST,CONSUMER,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36647,REGULAR AIR,03-07-2009,36647,30-06-2009,HIGH
64,Ord_1862,Prod_16,SHP_2556,Cust_635,100.08,0.08,49,-85.58,2.56,0.55,...,ATLANTIC,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",57638,REGULAR AIR,24-04-2012,57638,22-04-2012,LOW

In [4]:
df_by_segment['Profit'].sum()

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64

In [5]:
df_by_segment.Profit.sum()

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64

In [6]:
df_by_segment.Profit.sum().sort_values(ascending = False)

Customer_Segment
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
CONSUMER          287959.94
Name: Profit, dtype: float64

In [7]:
pd.DataFrame(df_by_segment['Profit'].sum())

                     Profit
Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01

In [8]:
df2=pd.DataFrame({'Name':['Akhil','Asha','Preeti'],
                  'Age':['31','22','23'],
                  'Gender':['M','F','F']})
df2

     Name Age Gender
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [9]:
df1=pd.DataFrame({'Name':['Amar','Joy','Rashmi','Saif'],
                  'Age':['34','31','22','38'],
                  'Gender':['M','M','F','M']})
df1

     Name Age Gender
0    Amar  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  38      M

In [10]:
pd.concat([df1,df2],axis=0)

     Name Age Gender
0    Amar  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  38      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F