In [1]:
def printme( str ):
    str = "This prints a passed string into this function"
    print(str)
    return
printme(str)

This prints a passed string into this function

In [2]:
 #Function definition is here
 def changeme( mylist ):
    "This changes a passes list into this function"
    mylist.append( [1,2,3,4]);
    print("Values inside the function:"), mylist
    return
 #Now you can call changeme function
 mylist = [10,20,30];
 changeme( mylist );
 print("Values outside the function:"), mylist

Values inside the function:
Values outside the function:

(None, [10, 20, 30, [1, 2, 3, 4]])

In [3]:
 #Function definition is here
 def printme(str):
    str = "This prints a passed string into this function"
    print (str)
    return;
 #Now you can call printme function
 printme(str)

This prints a passed string into this function

In [4]:
def printme(str):
    print(str)
    return
printme(str = "My String")

My String

In [5]:
def printinfo (name, age):
    print(("Name:"), age)
    print(("Age:"), name)
    return
printinfo(age = 24, name = "SVK")

Name: 24
Age: SVK

In [6]:
 # Function definition is here
def printinfo( arg, *vartuple ):
    "This prints a variable passed arguments"
    print("Output is:")
    print (arg)
    for var in vartuple:
        #print (arg)
        print(var)
    return
printinfo(10,70,60,50)
printinfo(100000,70,60,50)

Output is:
10
70
60
50
Output is:
100000
70
60
50

In [7]:
  #Function definition is here
  sum = lambda arg1, arg2: arg1-arg2
  #Now you can call sum as a function
  print(("Value of total:"),sum(10,20))
  print(("Value of total:"),sum(20,20))

Value of total: -10
Value of total: 0

In [8]:
def sum(arg1,arg2):
    total = arg1-arg2 #Global variable
# Function definition is here
def sum(arg1,arg2):
    #Add both numbers and return them
    total = arg1 + arg2
    print ("Inside the function local total is:", total)
    return total
#Now calling a function
total = sum(10,20)
print ("Outside the function", total)

Inside the function local total is: 30
Outside the function 30

In [9]:
import pandas as pd

df = pd.read_csv("churn_data.csv")
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
from sklearn.linear_model import*

In [11]:
Money = 2000
def AddMoney():
    global Money
    Money = Money + 1500
    print(Money)
AddMoney()
print(Money)

3500
3500

In [12]:
import math
content = dir(math)
print(content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [13]:
print(10/70)

0.14285714285714285

In [14]:
#exceptions
x = 10
if x > 5:
    raise Exception('X should not exceed 5. The value of x was 10')

Exception: X should not exceed 5. The value of x was 10

In [15]:
import sys
assert('Linux' in sys.platform), 'This code runs on Linux only'

AssertionError: This code runs on Linux only

In [16]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing Something')

In [17]:
try:
    linux_interaction()
except:
    print("'Linux function was not executed'")

'Linux function was not executed'

In [18]:
try:
    with open('churrn_data.csv') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
    print(fnf_error)

[Errno 2] No such file or directory: 'churrn_data.csv'

In [19]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
else:
    print('Executing the else clause.')

Function can only run on Linux systems.

In [20]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
else:
    try:
        with open('churrn_data.csv') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)
finally:
    print('Cleaning up, irrespective of any exceptions.')

Function can only run on Linux systems.
Cleaning up, irrespective of any exceptions.

In [21]:
import numpy as np

In [22]:
array_1d = np.array([2,4,5,3,7,87])
print (array_1d)
print(type(array_1d))

[ 2  4  5  3  7 87]
<class 'numpy.ndarray'>

In [23]:
array_2d = np.array([[2,4,5],[3,7,87]])
print (array_2d)
print(type(array_2d))

[[ 2  4  5]
 [ 3  7 87]]
<class 'numpy.ndarray'>

In [24]:
list_1 = [11,1,4]
list_2 = [8,2,13]
product_list = list(map(lambda x,y: x*y, list_1, list_2))
print(product_list)

[88, 2, 52]

In [25]:
array_1 = np.array(list_1)
array_2 = np.array(list_2)

array_3 = array_1*array_2
print(array_3)
print(type(array_3))

[88  2 52]
<class 'numpy.ndarray'>

In [26]:
#square a list
list_squared = [i**2 for i in list_1]

#square a numpy array
array_squared = array_1**2

print (list_squared)
print (array_squared)

[121, 1, 16]
[121   1  16]

In [27]:
array_from_list = np.array([4,5,6,2])
array_from_tupple = np.array([7,5,1,3])

print(array_from_list)
print(array_from_tupple)

[4 5 6 2]
[7 5 1 3]

In [28]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [29]:
np.zeros((2,4), dtype=int)

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [30]:
np.zeros((4), dtype=int)

array([0, 0, 0, 0])

In [31]:
np.random.random([4,8])

array([[0.78156013, 0.61932626, 0.62264854, 0.16574695, 0.41638734,
        0.21217259, 0.27744332, 0.42705855],
       [0.69415984, 0.8740489 , 0.07050117, 0.17992334, 0.7498281 ,
        0.73496493, 0.04032525, 0.36237863],
       [0.1481551 , 0.4562701 , 0.65952997, 0.33071785, 0.7992233 ,
        0.01288648, 0.12452906, 0.63562352],
       [0.80328166, 0.2390292 , 0.37357796, 0.58992474, 0.89965379,
        0.56820576, 0.75104476, 0.33012337]])

In [32]:
numbers = np.arange(10,100,6)
print(numbers)

[10 16 22 28 34 40 46 52 58 64 70 76 82 88 94]

In [33]:
np.linspace(15, 18, 60)

array([15.        , 15.05084746, 15.10169492, 15.15254237, 15.20338983,
       15.25423729, 15.30508475, 15.3559322 , 15.40677966, 15.45762712,
       15.50847458, 15.55932203, 15.61016949, 15.66101695, 15.71186441,
       15.76271186, 15.81355932, 15.86440678, 15.91525424, 15.96610169,
       16.01694915, 16.06779661, 16.11864407, 16.16949153, 16.22033898,
       16.27118644, 16.3220339 , 16.37288136, 16.42372881, 16.47457627,
       16.52542373, 16.57627119, 16.62711864, 16.6779661 , 16.72881356,
       16.77966102, 16.83050847, 16.88135593, 16.93220339, 16.98305085,
       17.03389831, 17.08474576, 17.13559322, 17.18644068, 17.23728814,
       17.28813559, 17.33898305, 17.38983051, 17.44067797, 17.49152542,
       17.54237288, 17.59322034, 17.6440678 , 17.69491525, 17.74576271,
       17.79661017, 17.84745763, 17.89830508, 17.94915254, 18.        ])

In [34]:
np.linspace(15, 18, 3)

array([15. , 16.5, 18. ])

In [35]:
np.linspace(15, 18, 6)

array([15. , 15.6, 16.2, 16.8, 17.4, 18. ])

In [36]:
rand_array = np.random.random((10,4))
print(rand_array)

[[0.26343765 0.79198968 0.2739967  0.2438326 ]
 [0.20937532 0.90119476 0.03848729 0.11585809]
 [0.3303141  0.80984389 0.88052832 0.0781873 ]
 [0.35595007 0.43110831 0.98861163 0.14840309]
 [0.72422613 0.55118036 0.85048655 0.47951121]
 [0.51069435 0.13537012 0.91314924 0.57326242]
 [0.01979533 0.30616167 0.92036007 0.65936287]
 [0.58301101 0.63868894 0.62949878 0.93103214]
 [0.9009055  0.21809888 0.75980105 0.82486247]
 [0.18254784 0.52813833 0.20421939 0.80561834]]

In [37]:
print("Shape: {}".format(rand_array.shape))
print("dtype: {}".format(rand_array.dtype))
print("Dimensions:{}".format(rand_array.ndim))
print("Item Size: {}".format(rand_array.itemsize))

Shape: (10, 4)
dtype: float64
Dimensions:2
Item Size: 8

In [38]:
array_3d = np.arange(24)
print(array_3d)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [39]:
array_3d = np.arange(36).reshape(2,3,6)
print(array_3d)

[[[ 0  1  2  3  4  5]
  [ 6  7  8  9 10 11]
  [12 13 14 15 16 17]]

 [[18 19 20 21 22 23]
  [24 25 26 27 28 29]
  [30 31 32 33 34 35]]]