In [1]:
import pandas as pd

s = pd.Series([3,5,2,1,5])
print(s)
print(type(s))

0    3
1    5
2    2
3    1
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [2]:
char_series = pd.Series(['ashb','jh','sdbchjb','jhjhdb'])
print(char_series)
type(char_series)

0       ashb
1         jh
2    sdbchjb
3     jhjhdb
dtype: object

pandas.core.series.Series

In [3]:
date_series = pd.date_range(start = '29-07-2018', end = '05-08-2018', freq = '3H')
print(date_series)
type(date_series)

DatetimeIndex([], dtype='datetime64[ns]', freq='3H')

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
#s[3]

s[0:]

0    3
1    5
2    2
3    1
4    5
dtype: int64

In [5]:
df = pd.DataFrame({'Name' : ['Vinay', 'Kushal', 'Aman','Saif','Karan', 'Arjun', 'Virat'],
                    'Age' : [ 24, 26, 28, 25,30,32,28],
                    'Occupation' : ['Engineer', 'Doctor', 'Data analyst', 'Teacher', 'Actor', 'Actor', 'Cricketer']})
df

     Name  Age    Occupation
0   Vinay   24      Engineer
1  Kushal   26        Doctor
2    Aman   28  Data analyst
3    Saif   25       Teacher
4   Karan   30         Actor
5   Arjun   32         Actor
6   Virat   28     Cricketer

In [6]:
market_df = pd.read_csv("market_fact.csv")

In [7]:
market_df.head(17)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38

In [8]:
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [9]:
market_df.shape

(8399, 10)

In [10]:
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8399 non-null   float64
 5   Discount             8399 non-null   float64
 6   Order_Quantity       8399 non-null   int64
 7   Profit               8399 non-null   float64
 8   Shipping_Cost        8399 non-null   float64
 9   Product_Base_Margin  8336 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [11]:
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [12]:
market_df.values

array([['Ord_5446', 'Prod_16', 'SHP_7609', ..., -30.51, 3.6, 0.56],
       ['Ord_5406', 'Prod_13', 'SHP_7549', ..., 4.56, 0.93, 0.54],
       ['Ord_5446', 'Prod_4', 'SHP_7610', ..., 1148.9, 2.5, 0.59],
       ...,
       ['Ord_5388', 'Prod_6', 'SHP_7524', ..., -70.85, 5.35, 0.4],
       ['Ord_5348', 'Prod_15', 'SHP_7469', ..., 565.34, 30.0, 0.62],
       ['Ord_5459', 'Prod_6', 'SHP_7628', ..., 131.39, 4.86, 0.38]],
      dtype=object)

In [13]:
market_df.set_index('Ord_id', inplace = True)
market_df.head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [14]:
#Sorting dataframes

market_df.sort_index(axis = 0, ascending = True).head(17)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_1,Prod_1,SHP_1,Cust_1,261.540,0.04,6,-213.25,35.00,0.80
Ord_10,Prod_3,SHP_13,Cust_10,80.610,0.02,15,-4.72,2.99,0.37
Ord_100,Prod_8,SHP_138,Cust_58,121.120,0.10,3,-118.82,1.99,0.44
Ord_1000,Prod_6,SHP_1384,Cust_373,334.710,0.01,25,31.74,6.47,0.38
Ord_1001,Prod_5,SHP_1385,Cust_374,1981.260,0.07,49,100.80,8.66,0.76
Ord_1002,Prod_15,SHP_1386,Cust_375,1756.460,0.01,15,-101.19,30.00,0.69
Ord_1003,Prod_9,SHP_1387,Cust_376,49.040,0.02,8,9.29,1.39,0.38
Ord_1003,Prod_11,SHP_1388,Cust_376,2320.350,0.00,6,-237.62,84.84,0.66
Ord_1004,Prod_3,SHP_1389,Cust_365,139.540,0.01,26,-54.08,4.95,0.37
Ord_1004,Prod_5,SHP_1390,Cust_365,199.520,0.08,28,13.44,4.00,0.42
Ord_1004,Prod_7,SHP_1391,Cust_365,85.660,0.04,39,6.67,0.78,0.52
Ord_1005,Prod_16,SHP_1392,Cust_377,15.000,0.05,1,-11.02,8.37,0.58
Ord_1005,Prod_13,SHP_1392,Cust_377,35.480,0.09,14,-9.19,1.30,0.59
Ord_1006,Prod_2,SHP_1393,Cust_378,1758.410,0.06,18,238.52,15.66,0.57
Ord_1007,Prod_4,SHP_1394,Cust_379,2766.818,0.03,47,846.95,5.92,0.55
Ord_1008,Prod_5,SHP_1395,Cust_380,689.670,0.07,38,51.47,8.99,0.47
Ord_1009,Prod_6,SHP_1397,Cust_366,237.360,0.07,25,-117.86,9.86,0.40

In [15]:
market_df.sort_values(by = 'Sales').head(17)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53

In [16]:
market_df.sort_values(by = 'Sales', ascending = False).head(17)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71

In [17]:
market_df.sort_values(by = 'Shipping_Cost', ascending = False).head(17)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_1751,Prod_15,SHP_2426,Cust_597,14740.510,0.00,46,3407.73,164.73,0.56
Ord_839,Prod_11,SHP_1361,Cust_364,12689.870,0.04,44,-169.23,154.12,0.76
Ord_1741,Prod_11,SHP_2411,Cust_595,15168.820,0.02,26,-1096.78,147.12,0.80
Ord_417,Prod_11,SHP_561,Cust_156,20333.816,0.02,45,-1430.45,147.12,0.80
Ord_1581,Prod_15,SHP_2184,Cust_519,2573.920,0.07,17,117.23,143.71,0.55
Ord_1021,Prod_15,SHP_1411,Cust_387,5544.990,0.04,43,-3404.24,130.00,0.78
Ord_1686,Prod_15,SHP_2331,Cust_581,19342.840,0.01,39,5603.95,126.00,0.60
Ord_2807,Prod_11,SHP_3864,Cust_1029,8789.540,0.07,22,-1025.19,110.20,0.67
Ord_906,Prod_11,SHP_1248,Cust_321,1662.048,0.03,9,-471.26,110.20,0.73
Ord_1264,Prod_11,SHP_1746,Cust_466,7556.610,0.08,18,-352.24,110.20,0.67
Ord_1350,Prod_11,SHP_1858,Cust_517,9579.620,0.10,49,-3465.07,110.20,0.73
Ord_643,Prod_11,SHP_879,Cust_223,15897.010,0.06,37,455.02,110.20,0.67
Ord_2401,Prod_11,SHP_3294,Cust_959,6902.510,0.04,32,-513.79,110.20,0.73
Ord_5299,Prod_11,SHP_7398,Cust_1784,4887.140,0.08,12,-694.33,110.20,0.67
Ord_4767,Prod_11,SHP_6648,Cust_1619,1884.208,0.04,11,-776.72,110.20,0.73
Ord_2746,Prod_11,SHP_3768,Cust_1030,7384.180,0.04,33,-513.79,110.20,0.73
Ord_5039,Prod_11,SHP_7031,Cust_1712,10692.970,0.05,26,-410.39,110.20,0.67

In [18]:
market_df.sort_values(by = 'Prod_id', ascending = False).head(27)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_3168,Prod_9,SHP_4396,Cust_1156,1041.78,0.10,47,283.79,6.71,0.35
Ord_2041,Prod_9,SHP_2791,Cust_768,64.09,0.02,4,3.72,1.39,0.38
Ord_3202,Prod_9,SHP_4441,Cust_1173,437.73,0.01,42,205.70,1.39,0.37
Ord_4819,Prod_9,SHP_6715,Cust_1630,453.89,0.10,27,-75.06,12.39,0.35
Ord_585,Prod_9,SHP_796,Cust_196,184.09,0.07,17,4.79,5.25,0.36
Ord_4596,Prod_9,SHP_6392,Cust_1524,11.16,0.01,1,-7.25,5.30,0.35
Ord_4019,Prod_9,SHP_5593,Cust_1385,356.09,0.05,23,155.82,1.39,0.38
Ord_4039,Prod_9,SHP_5626,Cust_1385,112.42,0.09,20,7.40,2.50,0.36
Ord_4785,Prod_9,SHP_6669,Cust_1578,436.67,0.06,37,51.91,5.72,0.35
Ord_2968,Prod_9,SHP_4092,Cust_1066,2160.83,0.08,36,485.02,19.99,0.38
Ord_1814,Prod_9,SHP_2507,Cust_1550,495.50,0.06,44,-12.67,6.97,0.35
Ord_5009,Prod_9,SHP_6989,Cust_1706,180.39,0.04,15,-8.11,6.97,0.35
Ord_2197,Prod_9,SHP_2994,Cust_827,7522.80,0.04,48,3187.37,19.99,0.39
Ord_2102,Prod_9,SHP_2877,Cust_788,151.38,0.04,27,-55.61,5.30,0.35
Ord_262,Prod_9,SHP_358,Cust_66,6553.45,0.03,39,2969.81,19.99,0.39
Ord_609,Prod_9,SHP_833,Cust_206,761.23,0.00,20,107.93,14.72,0.40
Ord_3071,Prod_9,SHP_4265,Cust_1141,2728.42,0.06,45,664.15,19.99,0.38
Ord_537,Prod_9,SHP_728,Cust_199,104.82,0.02,23,6.84,2.50,0.39
Ord_4663,Prod_9,SHP_6498,Cust_1612,2026.42,0.03,50,655.36,9.83,0.40
Ord_5180,Prod_9,SHP_7237,Cust_1756,862.64,0.04,23,122.11,14.72,0.40
Ord_3464,Prod_9,SHP_4799,Cust_1221,414.11,0.08,49,-172.32,8.29,0.38
Ord_5017,Prod_9,SHP_7000,Cust_1706,1323.31,0.05,38,146.64,14.72,0.40
Ord_1990,Prod_9,SHP_2719,Cust_745,311.38,0.06,26,34.12,5.72,0.35
Ord_1487,Prod_9,SHP_2053,Cust_496,877.47,0.07,14,151.24,19.99,0.38
Ord_4590,Prod_9,SHP_6385,Cust_1465,3212.97,0.03,37,1125.42,19.99,0.38
Ord_2797,Prod_9,SHP_3845,Cust_1039,136.98,0.04,16,44.12,1.39,0.38
Ord_954,Prod_9,SHP_1321,Cust_344,232.21,0.00,6,-14.03,14.72,0.40

In [19]:
market_df[2:8]

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [20]:
market_df[5::3].head(20)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
Ord_2343,Prod_6,SHP_3215,Cust_931,76.1600,0.04,12,-24.03,5.20,0.36
Ord_5033,Prod_2,SHP_7022,Cust_1710,139.0000,0.05,16,-96.33,9.23,0.58
Ord_5035,Prod_12,SHP_7025,Cust_1710,416.8000,0.01,32,223.38,0.50,0.38
Ord_5046,Prod_7,SHP_7041,Cust_1710,202.1100,0.08,40,-17.49,3.39,0.37
Ord_1184,Prod_1,SHP_1634,Cust_452,1974.6600,0.06,32,-929.68,35.00,0.80
Ord_4659,Prod_6,SHP_6493,Cust_1579,1451.5900,0.06,26,435.11,14.30,0.37
Ord_4682,Prod_5,SHP_6531,Cust_1579,63.9100,0.04,14,-44.47,6.60,0.49
Ord_4659,Prod_6,SHP_6492,Cust_1579,391.9000,0.10,11,-47.01,19.99,0.38
Ord_4410,Prod_5,SHP_6146,Cust_1474,605.7700,0.05,42,129.33,5.00,0.49
Ord_4552,Prod_4,SHP_6335,Cust_1474,284.4525,0.06,5,-254.78,8.99,0.58
Ord_4410,Prod_6,SHP_6146,Cust_1474,1480.9100,0.00,44,489.14,8.74,0.40

In [21]:
sales = market_df.Sales
sales.head(22)

Ord_id
Ord_5446      136.8100
Ord_5406       42.2700
Ord_5446     4701.6900
Ord_5456     2337.8900
Ord_5485     4233.1500
Ord_5446      164.0200
Ord_31         14.7600
Ord_4725     3410.1575
Ord_4725      162.0000
Ord_4725       57.2200
Ord_4743     4072.0100
Ord_1925      465.9000
Ord_2978      305.0500
Ord_2207     3364.2480
Ord_2207     1410.9300
Ord_2280      460.6900
Ord_2282      443.4600
Ord_4471    13255.9300
Ord_4427      283.1300
Ord_996        41.9700
Ord_996        57.1700
Ord_996        81.2500
Name: Sales, dtype: float64

In [22]:
market_df[['Cust_id','Sales','Profit']].head(22)

            Cust_id       Sales   Profit
Ord_id
Ord_5446  Cust_1818    136.8100   -30.51
Ord_5406  Cust_1818     42.2700     4.56
Ord_5446  Cust_1818   4701.6900  1148.90
Ord_5456  Cust_1818   2337.8900   729.34
Ord_5485  Cust_1818   4233.1500  1219.87
Ord_5446  Cust_1818    164.0200   -47.64
Ord_31      Cust_26     14.7600     1.32
Ord_4725  Cust_1641   3410.1575  1137.91
Ord_4725  Cust_1641    162.0000    45.84
Ord_4725  Cust_1641     57.2200   -27.72
Ord_4743  Cust_1641   4072.0100  1675.98
Ord_1925   Cust_708    465.9000    79.34
Ord_2978  Cust_1088    305.0500    23.12
Ord_2207   Cust_839   3364.2480  -693.23
Ord_2207   Cust_839   1410.9300  -317.48
Ord_2280   Cust_839    460.6900  -103.48
Ord_2282   Cust_839    443.4600   193.12
Ord_4471  Cust_1521  13255.9300  4089.27
Ord_4427  Cust_1521    283.1300  -141.26
Ord_996    Cust_371     41.9700   -37.03
Ord_996    Cust_371     57.1700   -24.03
Ord_996    Cust_371     81.2500   -44.54

In [23]:
market_df['Sales'].head(22)

Ord_id
Ord_5446      136.8100
Ord_5406       42.2700
Ord_5446     4701.6900
Ord_5456     2337.8900
Ord_5485     4233.1500
Ord_5446      164.0200
Ord_31         14.7600
Ord_4725     3410.1575
Ord_4725      162.0000
Ord_4725       57.2200
Ord_4743     4072.0100
Ord_1925      465.9000
Ord_2978      305.0500
Ord_2207     3364.2480
Ord_2207     1410.9300
Ord_2280      460.6900
Ord_2282      443.4600
Ord_4471    13255.9300
Ord_4427      283.1300
Ord_996        41.9700
Ord_996        57.1700
Ord_996        81.2500
Name: Sales, dtype: float64

In [24]:
market_df[['Sales']].head(22)

               Sales
Ord_id
Ord_5446    136.8100
Ord_5406     42.2700
Ord_5446   4701.6900
Ord_5456   2337.8900
Ord_5485   4233.1500
Ord_5446    164.0200
Ord_31       14.7600
Ord_4725   3410.1575
Ord_4725    162.0000
Ord_4725     57.2200
Ord_4743   4072.0100
Ord_1925    465.9000
Ord_2978    305.0500
Ord_2207   3364.2480
Ord_2207   1410.9300
Ord_2280    460.6900
Ord_2282    443.4600
Ord_4471  13255.9300
Ord_4427    283.1300
Ord_996      41.9700
Ord_996      57.1700
Ord_996      81.2500