# Slicing and Dicing

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("market_fact.csv")
df.head(12)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38

In [2]:
df.Sales>2000

0       False
1       False
2        True
3        True
4        True
        ...
8394     True
8395    False
8396    False
8397     True
8398    False
Name: Sales, Length: 8399, dtype: bool

In [3]:
df.loc[df['Sales']>3000].head(22)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
40,Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
57,Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
64,Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59
79,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38
82,Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56
84,Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39
107,Ord_250,Prod_15,SHP_346,Cust_45,8901.7800,0.04,31,2795.36,24.49,NaN
121,Ord_5423,Prod_17,SHP_7577,Cust_1800,13070.2000,0.07,4,-6923.60,8.73,0.57
124,Ord_2432,Prod_4,SHP_3339,Cust_933,3883.4715,0.10,42,707.17,8.99,0.58
133,Ord_2432,Prod_3,SHP_3338,Cust_933,15337.5800,0.10,30,6670.41,19.99,0.37
148,Ord_1649,Prod_2,SHP_2277,Cust_498,3005.7400,0.02,48,1053.21,3.99,0.57
163,Ord_4646,Prod_15,SHP_6475,Cust_1603,4083.1900,0.07,43,-1049.85,45.00,0.69
164,Ord_4646,Prod_1,SHP_6476,Cust_1603,4902.3800,0.05,32,1438.49,7.07,0.59
165,Ord_4702,Prod_3,SHP_6560,Cust_1603,11823.5200,0.10,34,4592.74,19.99,0.40

In [4]:
df.loc[df['Sales']>3000,:].head(22)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
40,Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
57,Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
64,Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59
79,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38
82,Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56
84,Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39
107,Ord_250,Prod_15,SHP_346,Cust_45,8901.7800,0.04,31,2795.36,24.49,NaN
121,Ord_5423,Prod_17,SHP_7577,Cust_1800,13070.2000,0.07,4,-6923.60,8.73,0.57
124,Ord_2432,Prod_4,SHP_3339,Cust_933,3883.4715,0.10,42,707.17,8.99,0.58
133,Ord_2432,Prod_3,SHP_3338,Cust_933,15337.5800,0.10,30,6670.41,19.99,0.37
148,Ord_1649,Prod_2,SHP_2277,Cust_498,3005.7400,0.02,48,1053.21,3.99,0.57
163,Ord_4646,Prod_15,SHP_6475,Cust_1603,4083.1900,0.07,43,-1049.85,45.00,0.69
164,Ord_4646,Prod_1,SHP_6476,Cust_1603,4902.3800,0.05,32,1438.49,7.07,0.59
165,Ord_4702,Prod_3,SHP_6560,Cust_1603,11823.5200,0.10,34,4592.74,19.99,0.40

In [5]:
df.loc[(df.Sales > 3000) & (df.Sales < 5000) & (df.Profit > 100),:].head(22)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
40,Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
124,Ord_2432,Prod_4,SHP_3339,Cust_933,3883.4715,0.10,42,707.17,8.99,0.58
148,Ord_1649,Prod_2,SHP_2277,Cust_498,3005.7400,0.02,48,1053.21,3.99,0.57
164,Ord_4646,Prod_1,SHP_6476,Cust_1603,4902.3800,0.05,32,1438.49,7.07,0.59
168,Ord_2973,Prod_4,SHP_4102,Cust_1081,4671.1495,0.07,28,947.31,4.20,0.59
237,Ord_597,Prod_4,SHP_816,Cust_209,4283.2350,0.10,44,676.13,8.80,0.59
239,Ord_597,Prod_4,SHP_816,Cust_209,4374.6865,0.05,43,973.16,8.08,0.57
264,Ord_5223,Prod_4,SHP_7296,Cust_1752,4524.9070,0.07,47,1464.87,2.50,0.55
324,Ord_1535,Prod_2,SHP_2123,Cust_564,3638.2700,0.04,45,1123.79,4.50,0.59
334,Ord_4050,Prod_4,SHP_5644,Cust_1385,3644.5960,0.06,44,1104.32,4.90,0.56
340,Ord_4066,Prod_4,SHP_5672,Cust_1385,4390.0290,0.00,25,1007.49,5.26,0.56
354,Ord_4898,Prod_3,SHP_6832,Cust_1674,3982.2100,0.03,23,1413.94,19.99,0.40
361,Ord_5373,Prod_3,SHP_7503,Cust_1810,3633.0300,0.09,33,1440.27,9.07,0.35
407,Ord_614,Prod_3,SHP_838,Cust_217,3800.4000,0.03,9,1234.57,19.99,0.35
453,Ord_1415,Prod_8,SHP_1952,Cust_510,4598.7300,0.04,45,1049.45,19.99,0.50
481,Ord_33,Prod_4,SHP_43,Cust_16,4253.0090,0.01,30,1115.69,8.99,0.58

In [6]:
df.loc[(df.Sales > 3000) & (df.Sales < 5000) & (df.Profit > 100),['Cust_id','Sales', 'Profit']].head(22)

       Cust_id      Sales   Profit
2    Cust_1818  4701.6900  1148.90
4    Cust_1818  4233.1500  1219.87
7    Cust_1641  3410.1575  1137.91
10   Cust_1641  4072.0100  1675.98
22    Cust_371  3202.2500   991.26
28    Cust_931  3594.7435  1016.97
40   Cust_1710  4917.6900   126.31
124   Cust_933  3883.4715   707.17
148   Cust_498  3005.7400  1053.21
164  Cust_1603  4902.3800  1438.49
168  Cust_1081  4671.1495   947.31
237   Cust_209  4283.2350   676.13
239   Cust_209  4374.6865   973.16
264  Cust_1752  4524.9070  1464.87
324   Cust_564  3638.2700  1123.79
334  Cust_1385  3644.5960  1104.32
340  Cust_1385  4390.0290  1007.49
354  Cust_1674  3982.2100  1413.94
361  Cust_1810  3633.0300  1440.27
407   Cust_217  3800.4000  1234.57
453   Cust_510  4598.7300  1049.45
481    Cust_16  4253.0090  1115.69

In [7]:
df.loc[(df.Sales == 4233.15),:]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.3,0.38

In [8]:
banglore_customers = ['Cust_1798','Cust_1519','Cust_637','Cust_851','Cust_1752']

df.loc[df['Cust_id'].isin(banglore_customers)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
255,Ord_5161,Prod_12,SHP_7212,Cust_1752,228.4600,0.01,47,112.06,0.50,0.36
256,Ord_5161,Prod_6,SHP_7213,Cust_1752,77.6100,0.09,19,16.79,1.30,0.37
257,Ord_5203,Prod_13,SHP_7269,Cust_1752,95.2600,0.02,26,-89.06,5.00,0.56
258,Ord_5170,Prod_11,SHP_7227,Cust_1752,1358.7760,0.01,3,-163.20,45.70,0.71
259,Ord_5175,Prod_17,SHP_7232,Cust_1752,1191.7300,0.07,13,147.60,13.99,0.38
260,Ord_5165,Prod_12,SHP_7218,Cust_1752,95.7100,0.04,38,32.81,0.50,0.39
261,Ord_5245,Prod_8,SHP_7325,Cust_1752,99.9400,0.07,46,-55.84,1.99,0.55
262,Ord_5245,Prod_13,SHP_7326,Cust_1752,18.7000,0.07,11,-3.36,0.70,0.56
263,Ord_5151,Prod_13,SHP_7199,Cust_1752,122.2300,0.03,29,24.55,1.20,0.44
264,Ord_5223,Prod_4,SHP_7296,Cust_1752,4524.9070,0.07,47,1464.87,2.50,0.55
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [9]:
bglre_custdf = df.loc[df['Cust_id'].isin(banglore_customers)]
bglre_custdf.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,24.000000,24.000000,24.000000,24.000000,24.000000,23.000000
mean,844.840875,0.047917,29.083333,84.444167,8.222500,0.472609
std,1248.605484,0.029632,15.500117,345.455787,11.779868,0.105667
min,18.700000,0.000000,3.000000,-335.060000,0.500000,0.350000
25%,116.387500,0.027500,17.500000,-59.592500,1.337500,0.380000
50%,235.755000,0.040000,28.500000,14.700000,4.920000,0.440000
75%,1043.462500,0.070000,44.500000,103.180000,7.690000,0.560000
max,4524.907000,0.100000,47.000000,1464.870000,45.700000,0.710000

# Merging and Concatination

In [10]:
market_df = pd.read_csv("market_fact.csv")
customer_df = pd.read_csv("cust_dimen.csv")
product_df = pd.read_csv("prod_dimen.csv")
shipping_df = pd.read_csv("shipping_dimen.csv")
orders_df = pd.read_csv("orders_dimen.csv")

In [11]:
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [12]:
customer_df.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [13]:
shipping_df.head()

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2
2       293     REGULAR AIR  03-10-2012   SHP_3
3       483     REGULAR AIR  12-07-2011   SHP_4
4       515     REGULAR AIR  30-08-2010   SHP_5

# Merging

In [14]:
df_1 = pd.merge(market_df, customer_df, how = 'outer', on= 'Cust_id')
df_1.head(12)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36,AARON BERGMAN,NUNAVUT,NUNAVUT,CORPORATE
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38,AARON HAWKINS,NOVA SCOTIA,ATLANTIC,HOME OFFICE

In [15]:
df_1 = pd.merge(market_df, customer_df, how = 'inner', on= 'Cust_id')
df_1.head(13)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36,AARON BERGMAN,NUNAVUT,NUNAVUT,CORPORATE
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38,AARON HAWKINS,NOVA SCOTIA,ATLANTIC,HOME OFFICE
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE

In [16]:
df_1.loc[df_1['Customer_Segment'] == 'CORPORATE',:].head(19)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36,AARON BERGMAN,NUNAVUT,NUNAVUT,CORPORATE
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.8500,0.08,1,-1.36,0.99,0.37,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
46,Ord_4690,Prod_2,SHP_6545,Cust_1579,904.1200,0.07,4,28.81,11.79,0.42,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
47,Ord_4659,Prod_6,SHP_6493,Cust_1579,1451.5900,0.06,26,435.11,14.30,0.37,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
48,Ord_4622,Prod_12,SHP_6437,Cust_1579,56.2600,0.00,14,28.11,0.50,0.38,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
49,Ord_4657,Prod_5,SHP_6490,Cust_1579,336.8600,0.06,23,36.32,5.30,0.46,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
50,Ord_4682,Prod_5,SHP_6531,Cust_1579,63.9100,0.04,14,-44.47,6.60,0.49,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
51,Ord_4768,Prod_4,SHP_6651,Cust_1579,547.0005,0.08,10,-97.20,3.90,0.55,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.4100,0.06,1,-1.78,0.70,0.56,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
53,Ord_4659,Prod_6,SHP_6492,Cust_1579,391.9000,0.10,11,-47.01,19.99,0.38,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
54,Ord_4682,Prod_4,SHP_6531,Cust_1579,1909.0065,0.01,32,344.13,8.99,0.59,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
55,Ord_4657,Prod_5,SHP_6489,Cust_1579,418.0300,0.00,47,-158.58,7.96,0.49,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
56,Ord_4410,Prod_5,SHP_6146,Cust_1474,605.7700,0.05,42,129.33,5.00,0.49,ADAM HART,YUKON,YUKON,CORPORATE

In [17]:
df_2 = pd.merge(df_1, product_df, how = 'inner', on = 'Prod_id')
df_2.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"

In [18]:
df_2.loc[(df_2['Product_Category'] == 'OFFICE SUPPLIES') & (df_2['Customer_Segment'] == 'CORPORATE'),:]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,AMY COX,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,ANDY YOTOV,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,ANNA HABERLIN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7545,Ord_4629,Prod_1,SHP_6447,Cust_1587,848.19,0.06,25,120.02,5.49,0.60,VICTORIA PISTEKA,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7546,Ord_4604,Prod_1,SHP_6403,Cust_1522,234.24,0.09,24,-151.80,9.45,0.60,VICTORIA PISTEKA,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7551,Ord_3543,Prod_1,SHP_4905,Cust_1266,1184.11,0.07,6,-145.07,19.99,0.71,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7552,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.33,0.04,21,-546.98,35.00,0.85,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7553,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10,-335.06,35.00,NaN,YANA SORENSEN,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION

In [19]:
df1=pd.DataFrame({'Name':['Amar','Joy','Rashmi','Saif'],
                  'Age':['34','31','22','38'],
                  'Gender':['M','M','F','M']})
df1

     Name Age Gender
0    Amar  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  38      M